%constrain-to-parent {
  max-width: 100%;
  width: 50%;
}



/* from http://blog.teamtreehouse.com/a-better-clearfix-with-sass */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
