@import "colors";
@import "settings";
@import "typography";

// device sizes
// Extra small screen / phone
$screen-phone:                  480px;

// Small screen / tablet
$screen-tablet:                  49em;

// Medium screen / desktop
$screen-desktop:                  992px;

// Large screen / wide desktop
$screen-lg-desktop:                  1200px; 