
%body_text {
  font-size: $base-font-size;
  line-height: $base-line-height;
}

// paragraph elements are visually separated from following elements
%paragraph {
  @include padding-trailer(0.5);
}

%list_common {
  margin-left: 2em;
}


// apply line height
p, ul, ol, li {
  @include adjust-font-size-to($base-font-size);
}

.no-bullets {
    @include no-bullet;
}

hr {
  @include margin-trailer(0.5);
}

p {
  @extend %paragraph;
}

ul {
  @extend %paragraph;
  @extend %list_common;
  list-style-type: disc;
}

ol {
  @extend %paragraph;
  @extend %list_common;
  list-style-type: decimal;
  ol {
    list-style-type: lower-roman;
  }
}

li>ol,
li>ul {
  padding: 0;
}

