//////////////////////////////
// Form Component Mixins
//////////////////////////////

/* header rounded corner search box */
@mixin header_search_form() {
  padding: 0.5em; // needed for focus-dropshadow
  @include clearfix;

  .search_input {
    @include border-left-radius(25px);
    border: 0;
    font-size: $base-font-size;
    line-height: 1em;
    height: 2.25em;
    padding: 8px 8px 6px 15px;
    width: 10em;
    display: block;
    float: left;
    outline-offset: 0;
    // Workaround for Chrome @see http://stackoverflow.com/questions/2943548/best-way-to-reset-remove-chromes-input-highlighting-focus-border
    &:focus {
      outline: none;
    }
  }
  .search_button {
    @include border-right-radius(25px);
    border: none;
    font-family: 'icomoon';
    font-size: $base-font-size;
    line-height: 1em;
    height: 2.25em;
    padding: 8px 15px;
    display: block;
    float: left;
  }
}