//////////////////////////////
// Layouts
// Add your layouts here.
//////////////////////////////

$grids: 12;
$gutters: 1/3;
$gutter-styles: 'split';

article {
	// @include background-grid();
	@include clearfix;
}


@include breakpoint(36em) {

  @for $i from 1 through 11 {
    .span-md-#{$i} {
      @include float-span(3);
    } 
  }

}