//////////////////////////////
// Layouts
// Add your layouts here.
//////////////////////////////


/* grid definition */
$grids: 12;
$gutters: 1/3;
$gutter-styles: 'split';

.container {
	// @include background-grid();
	@include clearfix;
}


@include breakpoint(36em) {

  @for $i from 1 through 12 {
    .span-md-#{$i} {
      @include float-span($i);
    } 
  }

}

body {
  // color: $text-color;
}

/* the page's backgroud with a lightblue gradient */
.page {
  margin: 0 0.5em;
  padding: 0 0.5em;
}
.page-inner {
  background-color: white;
  &:hover {@include debug-vertical-alignment;}
}

@media (min-width: $screen-tablet) {
  .page {
    margin: 0 4em;
  }
  body {
    // light blue background
    @include background(linear-gradient(top, #9BB8D8, #F8FAFC));
  }
}