
<!-- masthead with navigation -->
  <nav id="masthead" class="masthead content-wrapper container">
    <h1 id="logo" class="span-md-12"><a href="">early-dance.de</a></h1>
    <ul class="span-md-8">
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
    </ul>

    <!-- the header search form -->
    <form action="" class="span-md-4 search" >
      <div class="search_wrapper">
        <input class="search_input" placeholder="search" type="search" class="search"></input><input type="submit" class="search_button" value="&#xe605;"> 
      </div>
    </form>

  </nav>