
<!-- masthead with navigation -->
  <nav class="masthead content-wrapper container">
    <h1 id="logo" class="span-md-12"><a href="">early-dance.de</a></h1>
    <ul class="span-md-9">
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
      <li><a href="">link</a></li>
    </ul>
    <form action="" class="span-md-3">
      <input type="search" class="search"></input><input type="submit" class="search">
    </form>
  </nav>