
/* styles for events */

// TODO check and replace $gray-light $gray-lighter $gray-dark
@import "compass/css3/box-shadow";

@mixin equal_font_size_line_height($size) {
  font-size: $size;
  line-height: $size;
}


.event-metadata {

  @include no-bullet;
  
  .date, .place {
    @extend h4;
    // color: $gray-light;
  }
}


@include breakpoint($screen-tablet) {
  .event-list__title {
    @include adjust-font-size-to($base-font-size);
  }
  .event-list__desc {
    width: 75%;
    float: right;
  }

  .event-list__img {
    width: 22%;
    float: left;
    margin-right: 3%;
  }
}


.datesheet {
  @include breakpoint($screen-tablet) {
    & > span {
      display: block;
      text-align: center;
      font-weight: bold;
      color: $cs-text-light;
    }
    & > .month {
      @include equal_font_size_line_height(0.8 * $base-font-size);
      font-weight: 700;
    }
    & > .day {
      @include equal_font_size_line_height(1.1667 * $base-font-size);
      padding: 0.2em 0;
    }
    & > .year {
      @include equal_font_size_line_height(0.66 * $base-font-size);
    }

    display: inline-block;
    @include single-box-shadow(nth($black-tints,3), 3px, 3px, 3px, false, false);

    padding: 0.2em 0.3em;
    @include background(linear-gradient(bottom, nth($black-tints,5), #fff));
    // background-color: $gray-lighter;

    // border-right: 1px solid $gray-light;
    // border-bottom: 1px solid $gray-light;
  }
}