
/* styles for events */

// TODO check and replace $gray-light $gray-lighter $gray-dark
@import "compass/css3/box-shadow";




.event-metadata {

  @include no-bullet;
  
  .date, .place {
    @extend h4;
    // color: $gray-light;
  }
}


// debug
// .event-list__img {
//   display: none;
// }
// .event-list__date { 
//   background-color: red;
// }
// .event-list__img { 
//   background-color: orange;
// }
// .event-list__desc { 
//   background-color: green;
// }
// .event-list__place { 
//   background-color: blue;
// }


article {
  // @include background-grid();
}






// TODO move this somewhere else (a common place)
a.hover{
  margin: 0.25em;
  padding: 0.25em;
  border: 0;
  display: block;
  overflow: hidden;

  &:hover {
    @extend %box-shadow-around;
    color: $cs-text;
    // @include single-box-shadow;
    // background-color: nth($secondary-tints,6);
  }
}
